*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	min-height: 100vh;
	color: #555;
}

h2, .out{
	text-align: center;
	padding: 30px 0;
	font-size: 32px;
	line-height: 52px;
	color: #555;
	padding: 20px;
}